*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
:root
{
 --padding: 10px;
 --blur:0px;
 --width:30%;
 --border-radius:15px;
 --base:rgb(255, 124, 1)


}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(248, 243, 236);
    min-height: 100vh;
background: rgb(148, 51, 62);

}
.container {
    border-radius: 10px;
    background: linear-gradient( to right, rgb(71, 1, 68) ,rgb(163, 2, 155)  , rgb(170, 4, 120) , rgb(114, 8, 109)  );
  box-shadow:  -10px -10px 30px  rgba(255, 208, 0,0.5) ;
  /*box shadow sadexda hre number 
  labada hare waxy xukumayaan meeshuu shadwoku dhacaayo 
  numerka sddexaadna wuxuu sheegayaa khafiif iyo rasiin kuu yhy
  kalena waa midab
  */
 color: white;
 padding: 10px;
}
.container h1{
  margin: 20px 5px;

}
span{
    color: var(--base);
    font-size: 40px;
   
    font-family: Arial, Helvetica, sans-serif;
}
.css-changer {
    display: flex;
   
    flex-direction: column;
    align-items: flex-start;

    padding: 10px 20px;


   
}
.css-changer  label {
    color: white;
    margin-left: 20px;
}
.css-changer input[type=range]  {
    width: 100%;
}
img {
 
width: var(--width);
filter: blur(var(--blur));
padding: var(--padding);
border-radius: var(--border-radius);
height: 30%;
transition: filter   0.5s ease , background-color 0.3s ease;
background-color: var(--base);
}
input[type="color"]{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 5px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    
}

.css-changer input[type="color"]::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}

.css-changer input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}
.css-changer  input[type="range"]{
    width: 100%;
}